{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true,
  },
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "arrow-body-style": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
  }
}
